In [24]:
import pandas as pd 
import numpy as np

arquivo = "arquivo_estatistica.txt" #abrindo o arquivo usando pandas
df = pd.read_csv(arquivo, header=None,index_col=False) #lendo o arquivo como data frame 
df.head() #mostrando o data frame com a função head

   0   1   2   3   4   5   6   7   8   9   10  11
0   1   4   7   8   9  40  41   2   1  19  20  39
1  33  49  11  27  50  29  33  44  50  19  23   9
2   5   7   8   9  40  41   2  45  19  20  39  38
3  23  25  31  41   6   4  12  13  21  24  23  15
4  48  45  17  18  19  30  33   8   1   3   5   7

In [25]:
df.shape[0]

5

In [23]:
#Exercício A:

#verificando as regras:

#regra: pelo menos um valor deve estar repetido e o conj deve apresentar, pelo menos, 6 valores únicos.
#Usaremos o "for", como loop, para verificar o shape do data frame.

arquivo_saida = open("respostas_exercA.txt", "w")
arquivo_saida.write("media\tmoda\tmediana\tvariancia\tdesvio_padrao\tcoeficiente_variacao\n")

for row in range(df.shape[0]):
    linha=df.iloc[row,:] 
    
    unicos = linha.unique()
    n_unicos=len(unicos)

    if n_unicos > 6  and n_unicos <= 11:

#atendidas as regras, retornar:

        media = round(linha.mean(), 4) 
        moda = list(linha.mode())
        mediana = round(linha.median(), 4)
        variancia_amostral = round(linha.var(), 4)
        desvio_padrao_amostral = round(linha.std(), 4)
        coeficiente_variacao = round(desvio_padrao_amostral/media, 4)

        arquivo_saida.write("%.4f\t%s\t%.4f\t%.4f\t%.4f\t%.4f\n" % (media, moda, mediana, variancia_amostral, desvio_padrao_amostral, coeficiente_variacao))
        
arquivo_saida.close()

In [19]:
#Exercício B

#escreva um cód p/ gerar aleatoriamente valores para 50 alunos, c/ distrib uniforme, respeitando as regras.

arquivo_saida = open("respostas_exercB.txt", "w")

not_complete = True
x = 0

while not_complete:
    row= np.random.randint(low=1,high=51,size=12)
    row = pd.Series(row)
    unicos = row.unique()
    n_unicos=len(unicos)
 
    if n_unicos == 12:
        row[-1] = row[0]     
        
    if n_unicos > 6  and n_unicos <= 11:
        
        arquivo_saida.write("%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s\n" % (row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[7],row[8],row[9],row[10],row[11]))
        x += 1
        
    if x == 50:
        not_complete = False
        
arquivo_saida.close()